.TopChallengers {
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    width: 1221px;
    height: 91px;
    left: 109px;
    top: 1015px;

    background: #FFFFFF;
    border-radius: 5px;
    
    font-size: 18px;
    line-height: 21px

  }


  .challengers {   
    display:flex;
    padding: 0px 20px;
  }
  
  .challengerIndex {
    line-height: 40px;
    float: right;
    font-size: 15px;
  }
  .challengerName {
    line-height: 40px;
    font-size: 15px;
  }
  
  .challengerAvatar {
    width: 42px;
    height: 42px;
    border-radius:50%;
    padding: 0px 5px;
  }